{% extends 'PokeMon/base.html' %} {% block content %}
<div class="min-h-screen flex items-center justify-center py-5 px-4 sm:px-6 lg:px-8 bg-no-repeat bg-cover relative">
  <div class="absolute inset-0 z-0"></div>
  <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10 bg-yellow-200">
    <div class="text-center">
      <h2 class="mt-5 text-3xl font-bold text-gray-900">Add Pokemon</h2>
      <p class="mt-2 text-sm text-gray-400">Pokemon will be added to the Poke-Dex</p>
    </div>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} 

      <fieldset class="form-group">
        {% for ele in form %}
      <div class="flex justify-between my-2">
        {{ele.label}}

        <div class="m-1 border-2 border-gray-500 flex-shrink-0">{{ ele }}</div>
      </div>
      {% endfor %}
      </fieldset>

      <div class="form-group">
        <button type="submit" class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">SAVE</button>
    </div>
    

    </form>
  </div>
</div>

{% endblock %}
