{% extends 'PokeMon/base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-no-repeat bg-cover relative">
    <div class="absolute inset-0 z-0"></div>
    <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10 bg-yellow-50">
      <div class="text-center">
        <h2 class="mt-5 text-3xl font-bold text-gray-900">Add Pokemon</h2>
        <p class="mt-2 text-sm text-gray-400">Pokemon will be added to the Poke-Dex</p>
      </div>
      <form class="mt-8 space-y-3" action="#" method="POST">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="title" class="leading-7 text-sm text-gray-600">Pokemon's Name</label>
              <input type="text" id="title" name="title" class="w-full h-10 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="category" class="leading-7 text-sm text-gray-600">Pokemon Type</label>
              <select name="category" id="category" class="w-full h-10 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option value='---'>NA</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="content" class="leading-7 text-sm text-gray-600">Description</label>
              <textarea id="content" name="content" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 space-y-2">
          <label class="text-sm font-bold text-gray-500 tracking-wide">Add Image</label>
          <div class="flex items-center justify-center w-full">
            <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
              <div class="h-full w-full text-center flex flex-col items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-blue-400 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                </svg>
                <p class="pointer-none text-gray-500">
                  <span class="text-sm">Drag and drop</span> files here <br />
                  or <a href="" id="" class="text-blue-600 hover:underline">select a file</a> from your Device
                </p>
              </div>
              <input type="file" class="hidden" />
            </label>
          </div>
        </div>
        <p class="text-sm text-gray-300">
          <span>File type: doc,pdf,types of images</span>
        </p>
        <div>
          <button type="submit" class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4 rounded-full tracking-wide font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">SAVE</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}