<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>PokeDex</title>
</head>
<body class="lg:m-5 m-2 mt-2">
   
    <nav class="bg-gray-400 rounded-3xl">
        <div>
          <h1 class="text-3xl font-mono font-bold text-gray-800 items-center text-center md:py-10 py-5">Poke-Dex</h1>
        </div>
        <div class="flex md:flex-row flex-col justify-center items-center">
          <a href="/add-pokemon">
            <button class="bg-green-500 m-2 p-2 rounded-xl hover:bg-green-700 text-gray-50 font-mono font-bold text-xl">Add New Pokemon</button>
          </a>
          <a href="/">
            <button class="bg-blue-500 m-2 p-2 rounded-xl hover:bg-blue-700 text-gray-50 font-mono font-bold text-xl">See All Pokemons</button>
          </a>
        </div>
    </nav>

<div>
    {% block content %}

    {% endblock %}
</div>


</body>
</html>