{% extends 'PokeMon/base.html' %} {% block content %}

<!-- Gallery Starts from Here -->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -m-4 flex-row">
      {% if pokemons %}
      {% for pokemon in pokemons %}
      <div class="felx flex-col p-4 lg:w-1/4 md:w-1/2">
        <div class="">
          <div class="h-full flex flex-col items-center text-center">
            <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
              src="{{ pokemon.photo.url }}" />

            <div class="w-full">
              <h2 class="title-font font-medium text-lg text-gray-900">{{pokemon.pokeMonName}}</h2>
              <h3 class="text-gray-500 mb-3">Type: {{pokemon.pokemontype}}</h3>
              <h4 class="text-gray-500 mb-3">Breed: {{pokemon.breed}}</h4>
              <p class="mb-4">{{pokemon.description}}</p>
            </div>
          </div>
        </div>

        <div class="bg-yellow-200 text-white flex flex-row p-2 text-center w-full">
          <!-- Edit Button -->
          <div class="flex-1"> 
            
            <a href=""> <button
              class="rounded px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-green-700 border-green-800 hover:bg-green-800 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white text-center" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
            </button></a>
           
          </div>
            <!-- Expand Button -->
          <div class="flex-1"> 
            <a href="{% url 'PokemonDetails' pokemon.id%}">
              <button
              class="rounded px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-blue-700 border-blue-900 hover:bg-blue-800 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" />
              </svg>
            </button>
            </a>
           
          </div>
          <!-- Delete Button -->
          <div class="flex-1"> 
            <a href="{% url 'deletePokemon' pokemon.id%}">

              <button
              class="rounded px-3 py-2 m-1 border-b-4 border-l-2 shadow-lg bg-red-700 border-red-800 hover:bg-red-800"
              href="">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white text-center" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>

            </a>
            
        
          </div>
        </div>

      </div>
      {% endfor %}


      {% else %}

      <h1 class="text-3xl">No Pokemons...</h1>

      {% endif %}
      
      
    </div>
  </div>
</section>
{% endblock %}